services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: grades_db
      POSTGRES_USER: grades_user
      POSTGRES_PASSWORD: grades_pass
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U grades_user -d grades_db"]
      interval: 3s
      timeout: 3s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_NAME: grades_db
      DB_USER: grades_user
      DB_PASS: grades_pass
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
